{% extends 'base.html' %}

{% block title %}
{{ super() }} Bienvenido
{% endblock %}

{% block content %}

<div class="center">
    
    <div class="panel-izq">
        <form> 
            <label for="birthday"> Fechas ensayo </label> <br> 
            <input type="date" id="fecha_ensayo" name="fecha_ensayo"> <br> 
            <button> Agregar </button>
        </form>
    </div>
    
    <div class="panel-der">
        <p> Fechas seleccionadas </p>

        <ul>
            <li class="date-elem"> sábado, 11 febrero </li>
            <li class="date-elem"> sábado, 18 febrero </li>
            <li class="date-elem"> sábado, 25 febrero </li>
        </ul>
        
        

    </div>
</div>

{% endblock %}